body {
    background-color: #dddddd;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}
#header {
    font: 400 40px/1.2 'Merienda One', Helvetica, sans-serif;
    color: rgba(0,0,0,0.7);
    text-shadow: 3px 3px 3px #fff;
    text-align: center;
}
#content {
    font-size: 20px;
}
#footer {
    bottom: 0;
    position: fixed;
    right:300px;
    font-size: larger;
}

th {
    font-size: 1em;
    background-color: #0cc;
    margin: 20px;
    padding: 20px;
}
td {
    font-size: 1em;
    background-color: #bcc;
    margin: 20px;
    padding: 20px;
}

table {
    width: 100%;
    text-align: center;
}
ul {
  /*  border: 1px double black; */

}
ul li {
    margin: 10px;
    padding: 40px;
    color: black;
    background-color: #0CC;
    transition: background-color 0.5s;
}
ul li:hover {
    background-color: #FFF;

}
button {
    height: 30px;
    width: 100px;
    font-size: 0.8em;
}

.buttons {
    height: 30px;
    width:  130px;
    font-size: 0.8em;

}
#sort-form {
    display: inline;
    padding-left: 30px;
}
.drop-downs {
    height: 30px;
    width:  140px;
    font-size: 0.8em;
}
#ask-button {
    height: 50px;
    width:  400px;
    font-size: 1.1em;
    /*display: block;*/
    /*margin: 0 auto; */
}
#list-all-button {
    height: 50px;
    width:  400px;
    font-size: 1.1em;
}
.center-forms {
    text-align: center;
    width: 400px;
    margin: auto;
}