{% extends "layout.html" %}
{% block title %}Ask a new question{% endblock%}

{% block header %}Ask a new question{% endblock %}

{% block content %}

    <form method="post" action="/add-question">
    <p>
        <label for="title">Question title:</label><br>
        <input type="text" id="title" name="title" required/>
    </p>
    <p>
        <label for="message">Question text:</label><br>
        <textarea id="message" name="message" rows="6" cols="40" required></textarea>
    </p>
    <p>
        <button type="submit">Add new question</button>
    </p>
    </form>

{% endblock %}
