{% extends "layout.html" %}
{% block title %}Add new tag{% endblock %}

{% block header %}Add new tag{% endblock %}

{% block content %}

    <form class="center-forms" method="POST" action="/question/{{ question_id }}/new-tag">
        <p>
            <label for="added_tag">Status:</label><br/>
            <select id="added_tag" name="tag">
                {% for tag in tags %}
                    <option value="{{ tag['name'] }}">{{ tag['name'] }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="tag">Tag to be added</label><br>
            <input type="text" id="tag" name="tag"/>
        </p>
        <p>
            <button class="buttons" type="submit">Add tag</button>
        </p>
        <button class="buttons" onclick="window.location.href='{{ url_for('route_list') }}'">Return</button>
    </form>
{% endblock %}