{% extends "layout.html" %}
{% block title %}Comment {{ table_name }}{% endblock %}

{% block header %}Comment {{ table_name }}{% endblock %}

{% block content %}

    <form class="center-forms" method="post" action="/question/{{ question_id }}/new-answer"
          enctype="multipart/form-data">
        <p>
            <label for="message">Comment text:</label><br>
            <textarea id="message" name="message" rows="6" cols="40" required></textarea>
        </p>
        <p>
            <button class="buttons" type="submit">Add comment</button>
        </p>
        <button class="buttons"
                onclick="window.location.href='{{ url_for('route_show_details', question_id=question_id) }}'">Return
        </button>
    </form>

{% endblock %}