{% extends "layout.html" %}

{% block title %}Edit question{% endblock%}

{% block header %}Edit question{% endblock %}

{% block content %}

    <form class="center-forms" method="post" action="/question/{{ question[0]["id"] }}/edit">
    <p>
        <label for="title">Question title:</label><br>
        <input type="text" id="title" name="title" value="{{ question[0]["title"] }}"/>
    </p>
    <p>
        <label for="message">Question text:</label><br>
        <textarea id="message" name="message" rows="6" cols="40">{{ question[0]["message"] }}</textarea>
    </p>

    <p>
        <button class="buttons" type="submit">Edit question</button>
    </p>
        <input class="buttons" type="button" onclick="window.location.href='/'" value="Return"/>
    </form>
{% endblock %}