{% extends "layout.html" %}
{% block title %}Main page{% endblock%}
{% block content %}
    <p><a href="/add-question">Ask a question</a></p>
    <ul>
    {% for question in questions %}
        <p><li><a href="/question/{{ question["id"] }}"> {{ question["title"] }}</a></li></p>
    {% endfor %}
    </ul>
    <form action="/list" method="GET">
        <p><label for="sort">Sort questios by:</label>
        <select id="sort" name="sort">
            {% for i in range(4) %}
                <option {% if sort_by == sort_options[i] %} selected {% endif %}
                    value="{{ sort_options[i] }}"> {{ sort_titles[i] }} </option>
            {% endfor %}
        </select>
        <select id="order" name="order">
            {% for direction in ['desc', 'asc'] %}
                <option {% if direction == order_direction %} selected {% endif %}
                    value="{{ direction }}">
                    {% if direction == 'desc' %}descending{% else %}ascending{% endif %}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Sort it!</button></p>
    </form>
{% endblock %}