{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}

    <div class="dropdown">
        <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                {% if session['username'] %}
                    <a href="{{ url_for('add_question') }}">Ask a question</a>
                {% endif %}
                <a href="{{ url_for('route_list_all') }}">List all questions</a>
                <a href="{{ url_for('route_tags') }}">List all tags</a>
                <a href="{{ url_for('route_users') }}">List all users</a>
            </div>
    </div>
    <br>

    <div class="top_right">

    {% if session['username'] %}
        <div id="logged_in_user">Logged in as: {{ session['username'] }}</div><br>
    {% endif %}

        {% if not session['username'] %}
            <input id="register-button" type="button" onclick="window.location.href='/registration'" value="Register"/>
            <input id="login-button" type="button" onclick="window.location.href='/login'" value="Login"/>
        {% elif session['username'] %}
            <input id="logout-button" type="button" onclick="window.location.href='/logout'" value="Logout"/>
        {% endif %}

        <form method="GET" action="/search">
            <input type="search" name="q"/>
            <button type="submit" >Search</button>
        </form>
    </div><br>

    <form id="sort-form" action={{ "/" if limit_it else "/list" }} method="GET">
        <label for="sort">Sort questions by:</label>
        <select class="drop-downs" id="sort" name="sort">
            {% for i in range(4) %}
                <option {% if sort_by == sort_options[i] %} selected {% endif %}
                                                            value="{{ sort_options[i] }}"> {{ sort_titles[i] }} </option>
            {% endfor %}
        </select>
        <select class="drop-downs" id="order" name="order">
            {% for direction in ['desc', 'asc'] %}
                <option {% if direction == order_direction %} selected {% endif %}
                                                              value="{{ direction }}">
                    {% if direction == 'desc' %}descending{% else %}ascending{% endif %}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Sort it!</button>
    </form>

    <br>

    <ul>
        {% for question in questions %}
            <p>
            <li onclick="location.href='/question/view_count/{{ question["id"] }}'"> {{ question["title"] }}
                <div class="submission_time">{{ question['submission_time'] }}</div>
            </li></p>
        {% endfor %}
    </ul>
{% endblock %}