{% extends "layout.html" %}
{% block title %}Main page{% endblock%}
{% block content %}
    <form>
    <p><input id="ask-button" type="button" onclick="window.location.href='/add-question'" value="Ask a question"/>
    </form>
    <ul>
    {% for question in questions %}
        <p><li><a href="/question/view_count/{{ question["id"] }}"> {{ question["title"] }}</a></li></p>
    {% endfor %}
    </ul>
    <form action="/list" method="GET">
        <p><label for="sort">Sort questions by:</label>
        <select class="drop-downs" id="sort" name="sort">
            {% for i in range(4) %}
                <option {% if sort_by == sort_options[i] %} selected {% endif %}
                    value="{{ sort_options[i] }}"> {{ sort_titles[i] }} </option>
            {% endfor %}
        </select>
        <select class="drop-downs" id="order" name="order">
            {% for direction in ['desc', 'asc'] %}
                <option {% if direction == order_direction %} selected {% endif %}
                    value="{{ direction }}">
                    {% if direction == 'desc' %}descending{% else %}ascending{% endif %}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Sort it!</button></p>
    </form>
{% endblock %}