{% extends "layout.html" %}
{% block title %}Show details{% endblock %}

{% block header %}Show details{% endblock %}

{% block content %}

    <table>
        <tr>
            <th>Question:</th>
        </tr>
        <tr>
            <th>Vote</th>
            <th>ID</th>
            <th>User name</th>
            <th>Submission time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
        </tr>

        <tr>
            <td><a href="/{{ question_to_display['id'] }}/vote/question/{{ question_to_display['id'] }}/up"> <img
                    src="/static/icons/arrow_up.png" alt="" width="24" height="24"></a>
                <a href="/{{ question_to_display['id'] }}/vote/question/{{ question_to_display['id'] }}/down"> <img
                        src="/static/icons/arrow_down.png" alt="" width="24" height="24"></a></td>
            {% for title,q_data in question_to_display.items() %}
                {% if title == 'image' %}
                    <td>
                        {% if q_data %}
                            <a href="/static/images/{{ q_data }}">
                                <img src="/static/images/{{ q_data }}" class="uploaded-images" width="100" height="70"
                                     alt=""></a>
                        {% endif %}
                    </td>
                {% else %}
                    <td>{{ q_data }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    {% if tags %}

        {% for tag in tags %}
            <p id="tags">
                {{ tag["name"] }}
                <button id="delete_tag"
                        onclick="window.location.href='{{ url_for('route_delete_tag', question_id=question_to_display['id'], tag_id=tag['id']) }}'"></button>
            </p>
        {% endfor %}

    {% endif %}

    <button class="buttons" onclick="window.location.href='/question/{{ question_to_display["id"] }}/new-answer'">
        Answer
    </button>
    <button class="buttons"
            onclick="window.location.href='{{ url_for('route_new_comment', question_id=question_to_display['id']) }}'">
        Comment
    </button>
    <button class="buttons"
            onclick="window.location.href='{{ url_for('route_new_tag', question_id=question_to_display['id']) }}'">
        Add Tag
    </button>

    <button class="buttons" onclick="window.location.href='/question/{{ question_to_display["id"] }}/edit'">Edit
    </button>
    <button class="buttons" onclick="window.location.href='/question/{{ question_to_display["id"] }}/delete'">Delete
    </button>
    <button class="buttons" onclick="window.location.href='{{ url_for('route_list') }}'">Return</button>
    <br/>
    {% if question_comments %}
        <div class="comments">
            <table>
                <tr>
                    <th id="question-comment-title">Comments</th>
                </tr>
            </table>
            <table id="table-header-question">
                <tr>
                    <th>ID</th>
                    <th>Question ID</th>
                    <th>Submission time</th>
                    <th>User name</th>
                    <th>Comment</th>
                    <th>Edit count</th>
                    <th>Actions</th>
                </tr>
                {% for comment in question_comments %}
                    <tr>
                        {% for data in comment.values() %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <td>
                            <button class="buttons"
                                    onclick="window.location.href='{{ url_for('route_edit_comment', comment_id=comment['id'], redirect_question_id=question_to_display['id']) }}'">
                                Edit comment
                            </button>
                            <button class="buttons"
                                    onclick="window.location.href='/comments/{{ question_to_display['id'] }}/{{ comment['id'] }}/delete'">
                                Delete comment
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div><br/><br/>
    {% endif %}
    <br/>
    {% if answers_to_display %}
        {% for answer in answers_to_display %}
            <table>
            <tr>
                <th>Answer:</th>
            </tr>
            <tr>
                <th>Vote</th>
                <th>ID</th>
                <th>User name</th>
                <th>Submission time</th>
                <th>Vote number</th>
                <th>Question ID</th>
                <th>Message</th>
                <th>Image</th>
                <th>Actions</th>

            </tr>


            <tr>
                <td><a href="/{{ question_to_display['id'] }}/vote/answer/{{ answer['id'] }}/up"><img
                        src="/static/icons/arrow_up.png" alt="" width="24" height="24"></a>
                    <a href="/{{ question_to_display['id'] }}/vote/answer/{{ answer['id'] }}/down"><img
                            src="/static/icons/arrow_down.png" alt="" width="24" height="24"></a></td>
                {% for title,a_data in answer.items() %}
                    {% if title == 'image' %}
                        <td>
                            {% if a_data %}
                                <a href="/static/images/{{ a_data }}">
                                    <img src="/static/images/{{ a_data }}" class="uploaded-images" width="100"
                                         height="70" alt=""></a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td>{{ a_data }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <button class="buttons"
                            onclick="window.location.href='/comment/{{ question_to_display['id'] }}/{{ answer['id'] }}'">
                        Comment answer
                    </button>
                    <button class="buttons"
                            onclick="window.location.href='/answer/{{ answer['id'] }}/edit'">
                        Edit answer
                    </button>
                    <button class="buttons"
                            onclick="window.location.href='/answer/{{ question_to_display['id'] }}/{{ answer["id"] }}/delete'">
                        Delete Answer
                    </button>
                </td>
            </tr>
            <br/>
            {% if answer_comments %}
                {% if answer['id'] in comment_answer_ids %}
                    <table>
                        <tr>
                            <th id="answer-comment-title">Comments</th>
                        </tr>
                    </table>
                    <table id="answer-comments">
                    <tr>
                        <th>ID</th>
                        <th>Answer ID</th>
                        <th>Submission time</th>
                        <th>User name</th>
                        <th>Message</th>
                        <th>Edited count</th>
                        <th>Actions</th>
                    </tr>
                {% endif %}
            {% for comment in answer_comments %}
                {% if comment['answer_id'] == answer['id'] %}
                    <tr>
                        {% for data in comment.values() %}
                            <td>{{ data }}</td>
                        {% endfor %}
                        <td>
                            <button class="buttons"
                                    onclick="window.location.href='{{ url_for('route_edit_comment', comment_id=comment['id'], redirect_question_id=question_to_display['id']) }}'">
                                Edit comment
                            </button>
                            <br>
                            <button class="buttons" onclick="location.href='#popup1'">Delete comment
                            </button>
                            <div id="popup1" class="overlay">
                                <div class="popup">
                                    <h2>Are you sure?</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <button class="buttons"
                                                onclick="window.location.href='/comments/{{ question_to_display['id'] }}/{{ comment['id'] }}/delete'">
                                            Yes
                                        </button>
                                        <button>No</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
                <br/><br/>
            {% endif %}
            <br/>
        {% endfor %}
    </table><br>
        <button id="top-button"><a href="#top" style="color: white">UP</a></button>
    {% endif %}



{% endblock %}
