{% extends "layout.html" %}
{% block title %}Show details{% endblock%}

{% block header %}Show details{% endblock %}

{% block content %}

    <table>
    <tr><th>Question:</th></tr>
    <tr>
        <th>ID</th>
        <th>Submission time</th>
        <th>View number</th>
        <th>Vote number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>

    <tr>
        <td>{{ question_to_display["id"] }}</td>
        <td>{{ question_to_display["submission_time"] }}</td>
        <td>{{ question_to_display["view_number"] }}</td>
        <td>{{ question_to_display["vote_number"] }}</td>
        <td>{{ question_to_display["title"] }}</td>
        <td>{{ question_to_display["message"] }}</td>
        <td>{{ question_to_display["image"] }}</td>
    </tr>
    </table><br/>

    <{% if answers_to_display %}
    <table>
    <tr><th>Answer:</th></tr>
    <tr>
        <th>ID</th>
        <th>Submission time</th>
        <th>Vote number</th>
        <th>Question ID</th>
        <th>Message</th>
        <th>Image</th>
    </tr>

    <{% for answer in answers_to_display %}
    <tr>
        <td>{{ answer["id"] }}</td>
        <td>{{ answer["submission_time"] }}</td>
        <td>{{ answer["vote_number"] }}</td>
        <td>{{ answer["question_id"] }}</td>
        <td>{{ answer["message"] }}</td>
        <td>{{ answer["image"] }}</td>
    </tr>
    <{% endfor %}>
    </table><br>
    <{% endif %}

    <form>
    <input type="button" onclick="history.back()" value="Return"/>
    </form><br/>

{% endblock %}
